<!DOCTYPE html>

{% load staticfiles %} <!-- using static files in template -->

<html>
    <head>
        <title>Rango</title>
    </head>
    
    <body>
        <h1>Rango says...</h1>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong><br />
            <!-- boldmessage in views.py to be token-->
        </div>
        
        <div>
        {% if categories %}
            <ul>
            {% for category in categories %}
                <li>
                <!--{{ category.name }}-->
                    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        </div>

        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> 
                 <br />

            <!--<img src="{{MEDIA_URL}}cat.jpg"
                 alt="picture of a cat."/>
            -->
        </div>
    </body>
</html>